framework:
  messenger:
    default_bus: command.bus

    buses:
      command.bus:
        middleware:
          - doctrine_transaction
      query.bus: ~

    transports:
      sync: 'sync://'
      async: 'in-memory://'

    routing:
